@import 'nib'

a, a:link
	cursor pointer

.navbar a
	font-family: "News Cycle", "Arial Narrow Bold", sans-serif
	font-weight: 500

body
	padding-top 60px

table
	tfoot, tbody
		th
			border-top 1px solid #DDD

h1, h2, h3, h4, h5, h6
	font-weight: 500

footer
	clear both
